<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <title>Edit Client</title>
</head>

<body>
    <div class="container">
        <h3>Edit Client</h3>
        <form method="post" action=".">
            {%csrf_token%}
            <table class="table table-bordered" cellpadding="5" cellspacing="3">
                {{form.as_table}}
                <tr>
                    <td colspan="2">
                        <button class="btn btn-primary">Submit</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="container">
        <br>
        <h4><a href="{% url 'client' %}">Back to client list</a></h4>
    </div>
</body>

</html>